.banner {
    color: var(--white);
    padding: 104px 100px 113px;
    position: relative;
}

.banner::before {
    content: '';
    background-image: url("../assets/wallpaper.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    inset: 0;
    filter: brightness(50%);
}

.banner__container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 637px;
}

h1 {
    font-size: 48px;
    line-height: 58.51px;
    font-weight: 600;
    isolation: isolate;
}

.banner p {
    font-size: 24px;
    line-height: 38.4px;
    isolation: isolate;
}

@media screen and (max-width: 650px) {
    .banner {
        padding: 122px 37px 122px 20px;
    }

    .banner__container {
        gap: 12px;
        max-width: 357px;
    }

    h1 {
        font-size: 28px;
        line-height: 34.13px;
        font-weight: 700;
    }

    .banner p {
        font-size: 16px;
        line-height: 28.8px;
        font-weight: 600;
    }
}