.banner {
    color: var(--white);
    padding: 104px 100px 113px;
    position: relative;
}

.banner::before {
    content: '';
    background-image: url("../assets/wallpaper.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    inset: 0;
    filter: brightness(50%);
}

.banner__container {
    display: flex;
    flex-direction: column;
    gap: 26px;
    max-width: 637px;
}

h1 {
    font-size: 48px;
    line-height: 58.51px;
    font-weight: 600;
    isolation: isolate;
}

.banner p {
    font-size: 24px;
    line-height: 38.4px;
    isolation: isolate;
}