footer {
    text-align: center;
    padding: 18px 0 20px;
    background-color: var(--black-light);
}

footer p {
    color: var(--white);
    font-size: 18px;
    line-height: 21.94px;
}

@media screen and (max-width: 650px) {
    footer {
        padding: 12px 0 13px;
    }

    footer p {
        line-height: 35.31px;
    }
}